## Data Warehouse - Lab Assignment 04
**Sales Data Warehouse**

------

*Connection*
Connect **SQL Server** with **Jupyter Notebook**

In [1]:
import pyodbc
import pandas as pd
from IPython.display import display

In [8]:
conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=DESKTOP-LF6ARI5;'
                      'Database=SalesWarehouse;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
print('Connected!')

Connected!

In [3]:
sql_query = pd.read_sql_query('SELECT * FROM dbo.BranchDimension',conn)
print(sql_query)
display(sql_query)

NameError: name 'conn' is not defined